<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/jiitscout">JiitScout</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/jiitscout/stuff">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jiitscout/stats">Stats</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin Settings
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/jiitscout/admin/register-place">Register Place</a></li>
           
          </ul>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input  id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn search-btn" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>