<% layout("./layouts/home.ejs"); %>
    <div class="hero">
        <h1 class="heading"><b>Jiitscout</b></h1>
        <p class="tagline"><b>Find your way fast</b></p>
    </div>
    <a href="/jiitscout/stuff">
        <button type="button" class="btn">
            <span>EXPLORE  </span></button>
    </a>
    <div class="below-btn-img">
        <a href="/jiitscout/stuff"> <img src="/images/icon.png" alt="illustration"></a>
            
    </div>